<mat-card style="width:260px;">
  <mat-card-header>
  <div mat-card-avatar class="img-avatar"></div>
  <mat-card-title>{{languageName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br/>
    <p><b>Written</b></p>
    <mat-progress-bar mode="determinate" value="{{languageWriting}}"></mat-progress-bar>
    <p><b>Reading</b></p>
    <mat-progress-bar mode="determinate" value="{{languageReading}}"></mat-progress-bar>
    <p><b>Spoken</b></p>
    <mat-progress-bar mode="determinate" value="{{languageSpoken}}"></mat-progress-bar>
  </mat-card-content>

</mat-card>
